.contact-background {
  background-image: url("../../imgs/DirectorSet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

fieldset {
  border: 1px solid #000;
}

@media screen and (min-width: 766px) {}

@media screen and (min-width: 1438px) {}